body {
  width: 800px;
  margin: 0 auto;
  font-family: "Oswald"; sans-serif;
  color: #333;
}

a {
  color: darkgreen;
}

h1 { 
  margin-bottom: 0.5em;
}
h1+div {
  margin-bottom: -0.5em;
}

h2 { 
  width: 100px; 
  margin: 0;
  display: none;
}

h2 a {
  display: block;
  width: 100px;
  margin-top: 2em;
  margin-bottom: 0.5em;
  color: #333;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#github ul, #flickr ul {
  margin: 0 auto;
}

.container {
  width: 100%;
  float: left;
  margin: 0 0 2em;
}

.container:before, .container:after {
  content: '';
  display: table;
}
.container:after {
  clear: both;
}

ul#github_update_list {
  list-style: none;
  padding: 0;
}
ul#github_update_list li {
  height: 100px;
  font-size: 2em;
  text-indent: 100px;
}
ul#github_update_list li span {
  color: #aaa;
  display: block;
}

ul#github_update_list li img {
  display: none;
}

ul#flickr_update_list { 
  list-style: none; 
}

ul#flickr_update_list {
  padding: 0;
}

ul#flickr_update_list li { 
  clear: left;
  height: 95px;
  display: block;
}

ul#flickr_update_list li img { 
  padding: 2px; 
  border: 1px solid #ddd;
  margin: 0 6px; 
  float: left;
}

ul#flickr_update_list li.short_img {
  display: inline-block;
}

ul#flickr_update_list li span.title {
  font-size: 2em;
}
ul#flickr_update_list li span.tags {
  font-size: 11px;
  display: block;
  color: #bbb;
}

ul#flickr_update_list li a img { 
  padding: 2px; 
  margin: 0 9px 0 0; 
}

ul#flickr_update_list li a:hover img {
  border: 1px solid #333;
}


.footer {
  clear: left;
  text-align: center;
  font-style: italic;
  text-transform: lowercase;
  margin: 6em 0;
  font-size: 11px;
}
