body {
  font-family: Helvetica;
}

h1 { 
  text-align: center;
  margin-bottom: 0;
}
h1+div {
  text-align: center;
  margin-bottom: -0.5em;
}

h2 { 
  width: 100px; 
  margin: 0 auto; 
}

h2 a {
  display: block;
  width: 100px;
  margin-top: 2em;
  margin-bottom: 0.5em;
  text-transform: lowercase;
}
h2 a:before {
  content: '/';
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#github ul, #flickr ul {
  margin: 0 auto;
}

.container {
  width: 40%;
  float: left;
  margin: 0 5% 4em;
}

.container:before, .container:after {
  content: '';
  display: table;
}
.container:after {
  clear: both;
}

ul#github_update_list {
}
ul#github_update_list li {
  line-height: 1.5em;
}
ul#github_update_list li span, ul#github_update_list li img {
  display: none;
}

ul#flickr_update_list { 
  list-style: none; 
}

ul#flickr_update_list li { 
  display: inline; 
}

ul#flickr_update_list li img { 
  padding: 2px; 
  border: 1px solid #aaa; 
  margin: 0 6px; 
}

ul#flickr_update_list li a img { 
  padding: 2px; 
  border: 7px solid #aaa; 
  margin: 0 9px 0 0; 
}

ul#flickr_update_list li a:hover img {
  border: 7px solid #333;
}


.footer {
  clear: left;
  text-align: center;
  font-style: italic;
  text-transform: lowercase;
  margin: 6em 0;
  font-size: 11px;
}
